.commentsAndCalifications {
    width: 100%;
    height: 100vh;
}

.commentsClients{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.commentsClients h3 {
    font-size: 45px;
    width: 50%;
    padding: 20px 0;
    text-align: center;
}

.commentsClients p {
    font-size: 20px;
}

@media  screen and (max-width: 600px) {
    .commentsClients h3 {
        font-size: 30px;
        width: 80%;
    }

    .commentsClients p {
        font-size: 16px;
        width: 80%;
        text-align: center;
    }
}