
.mainView{
    top: 70px;
    position: relative;
    width: 100%;
} 


.firstContainer{
    position: relative;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 30px 30px 30px 50px;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.9)), 
    url(/img/Portada.jpg) no-repeat;
    background-size: 100vw 100vh;
    background-size: cover;
}


.initialView {
    display: flex;
    justify-content: center;
}

.information{
    width: 62%;
    margin: 40px 40px 40px 140px;
    padding-top: 3%;
}

.title{
    color: var(--white);
    font-size: clamp(2.375rem, 2.461vw + 0.797rem, 3.75rem);
    width: 75%;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.description {
    color: var(--white);
    margin: 35px 0;
    font-size: clamp(0.938rem, 0.559vw + 0.579rem, 1.25rem);
}

.descriptionIcon i {
    color: var(--white);
}

.buttom{
    display: flex;
    justify-content: center;
    width: 75%;
}

.orderNow {
    margin: 20px;
    padding: 20px;
    width: clamp(10.813rem, 1.119vw + 10.095rem, 11.438rem);
    color: var(--white);
    background: var(--primaryColor);
    font-weight: bold;
    font-size: clamp(0.875rem, 0.336vw + 0.66rem, 1.063rem);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0 8px 0px var(--primaryColor);
    cursor: pointer;
}

.imgMajor {
    width: 45%;
}

.imgMajor img{
    width: clamp(18.75rem, 22.371vw + 4.404rem, 31.25rem);
    height: clamp(25rem, 22.371vw + 10.654rem, 37.5rem);
    border-radius: 10px;
    object-fit: cover;
}

.iconsInformation {
    z-index: 20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 70%;
    height: clamp(5.625rem, 2.237vw + 4.19rem, 6.875rem);
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    top: 80px;
    box-shadow: 0px 0 8px 0px var(--primaryColor);
}

.calification, .comments, .location {
    background-color: var(--primaryColor);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.bx {
    color: var(--white);
}

.icon {
    display: flex;
    justify-content: center;
}

.informationIcon {
    align-items: center;
    margin: auto;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.informationIcon h3, .informationIcon p {
    font-size: clamp(0.875rem, 0.447vw + 0.588rem, 1.125rem);
}

