.footer {
    width: 100%;
    height: 40vh;
    background-color: #F8F8F8;
    display: flex;
    gap: 60px;
    padding-top: 40px;
}

.informationRestaurant {
    display: block;
    margin-left: 180px;
}
.informationRestaurant p {
    width: clamp(23.125rem, 30.201vw + 3.758rem, 40rem);
}

.name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.name img {
    width: clamp(3.125rem, 3.356vw + 0.973rem, 5rem);
    height: clamp(2.375rem, 3.803vw - 0.064rem, 4.5rem);
    margin-right: 10px;
}

.socialMedia {
    margin: 20px 0;
}

.socialMedia i {
    padding: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}


.socialMedia i:hover {
    background-color: var(--primaryColor);
    color: var(--white);
    transition: .6s;
}


.optionsFooter{
    display: flex;
    flex-direction: column;
}

.optionsFooter a {
    padding: 8px;
    text-decoration: none;
    color: #000000;

}

.optionsFooter a:hover{
    color: var(--primaryColor);
    transform: .4;
}

@media  screen and (max-width: 600px)  {

    .name {
        width: 100%;
        justify-content: flex-start;
    }

}