.footer {
    width: 100%;
    height: auto;
     background-color: var(--black);   /*#F8F8F8 */
    display: flex;
    gap: 60px;
    padding-top: 40px;
}

.informationRestaurant {
    width: 100%;
    display: block;
}

.informationRestaurant p {
    width: auto;
    margin-left: 70px;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 20px;
}

.name img {
    width: clamp(3.125rem, 3.356vw + 0.973rem, 5rem);
    height: clamp(2.375rem, 3.803vw - 0.064rem, 4.5rem);
    margin-right: 10px;
}

.socialMedia {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialMedia i {
    padding: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}


.socialMedia i:hover {
    background-color: var(--primaryColor);
    color: var(--white);
    transition: .6s;
}

.name h3,
.informationRestaurant p,
.informationRights p {
    color: var(--white);
}

.linearFooter {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--primaryColor), transparent);
    margin: 20px 0;
}

.optionsFooter{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.optionsFooter a {
    padding: 8px;
    text-decoration: none;
    color: var(--primaryColor);

}

.optionsFooter a:hover{
    color: var(--white);
    transform: .4;
}

.informationRights {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.informationRights p {
    letter-spacing: 3px;
    margin: 0;
}

@media  screen and (max-width: 600px)  {

    .footer {
        height: auto;
        flex-direction: column;
    }
    
    .informationRestaurant {
        width: 100%;
        margin: 0;
    }

    .name, .informationRestaurant p {
        margin: 15px 0;
    }


    .name, .informationRestaurant p {
        width: 100%;
        padding-left: 20px;
    }


    .optionsFooter {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 25px 0 40px;
    }

    .optionsFooter a {
        color: var(--white);

    }

    .optionsFooter a:hover {
        color: var(--white);
        transform: none;
    }

    .socialMedia {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .socialMedia a {
        margin: 0 10px;
    }

    .informationRights {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .informationRights p {
        font-size: 13px;
        text-align: center;
    }

}