@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primaryColor: #7C110F;
    --secondColor: #E4B570;
    --white: #ffffff;
    --black: #000000;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primaryColor);
    z-index: 100;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav-bar ul li {
    margin: 0px 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-bar ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    color: var(--white);
    font-size: clamp(0.625rem, 0.671vw + 0.195rem, 1rem);
    position: relative;
}

.nav-bar ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .9s;
}

.nav-bar ul li a:hover::after{
    opacity: 1;
}

.nav-bar .nav, .options .section-1,
.options,
.login,
.logo {
    display: flex;
}


.nav-bar .logo img {
    width: 65px;
    height: 50px;
}

.toggle-icon {
    display: none;

    
}

/* #sign-up {
    border-radius: 20px;
    border: 1px solid var(--black);
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    
}

#sign-up:hover{
    transition: .9s;
    border: 1px solid var(--primaryColor);
}


#log-in {
    border-radius: 20px;;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
}

#log-in:hover{
    transition: .8s;
    border: 1px solid var(--primaryColor);
} */

/* Responsive de la nav-bar */
/* @media (max-width: 1622px){
    .nav-bar ul li a{
        font-size: 15px;
        aspect-ratio: 16/9;
    }
} */





/* Botón de whatsapp */
.whatsapp i {
    z-index: 100;
    right: 25px;
    bottom: 20px;
    position: fixed;
    width: 65px;
    height: 60px;
    padding: 10px 15px;
    background: #00bb2d;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

@media  screen and (max-width: 600px) {

    .nav-bar {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .toggle-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 clamp(3.75rem, 3.356vw + 1.598rem, 5.625rem);
    }

    .nav-bar .logo img {
        width: 50px;
        height: 40px;
    }

    .nav-bar ul{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 0;
    }

    .toggle-icon {
        display: block;
        cursor: pointer;
    }

    .toggle-icon i{
        display: none;
    }

    .options {
        top: 70px;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100vh - 70px);
        margin: 0;
        background-color: black;
        right: -100%;
        transition: right 0.5s ease-in-out;
    }

    /* Apertura de menu */
    .options.active {
        right: 0;
    }

    /* Activación de iconos */
      .toggle-icon .bx-menu {
    display: block;
  }

  .toggle-icon .bx-x {
    display: none;
  }

  .toggle-icon.active .bx-x {
    display: block;
  }

  .toggle-icon.active .bx-menu {
    display: none;
  }

}