 
 .secondContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
 }

.collageImages {
    width: 55%;
}

.informationCollage {
    width: 45%;
    height: 100%;
    margin: 0 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titleCollage {
    width: 95%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listCollage ul {
    margin: 25px;
}

.listCollage ul li {
    list-style: none;
    padding: 15px;
}

.listCollage ul li i {
    margin-right: 15px;
}

.bx-check {
    background: #00bb2d;
    color: var(--white);
}

.collageImages img {
    height: clamp(10rem, 13.423vw + 1.393rem, 17.5rem);
    width: clamp(10rem, 13.423vw + 1.393rem, 17.5rem);
}

.collageImages {
    position: relative;
    width: 55%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.images-coll {
    display: grid;
    gap: 9px;
    grid-template-areas: 
    "a b"
    "c d"
    ;
}

.images-coll:nth-child(1){
    grid-area: a;
}
.images-coll:nth-child(2){
    grid-area: b;
}
.images-coll:nth-child(3){
    grid-area: c;
}
.images-coll:nth-child(4){
    grid-area: d;
}

.images-coll img {
    border-radius: 10px;
    object-fit: cover;
}

.viewMain {
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

.viewMain a {
    padding: 14px;
    width: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);

}

.viewMain a i {
    margin-left: 10px;
    color: var(--black);
}


.viewMain a:hover{
    background-color: var(--primaryColor);
    color: var(--white);
}



