 .secondContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
 }

.collageImages {
    width: 60%;
}

.informationCollage {
    width: 45%;
    margin: 130px;
    z-index: 20;
}

.titleCollage {
    width: 95%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listCollage ul {
    margin: 30px;
}

.listCollage ul li {
    list-style: none;
    padding: 20px;
}

.listCollage ul li i {
    margin-right: 15px;
}

.bx-check {
    background: #00bb2d;
    color: var(--white);
}

.collageImages img {
    height: 300px;
    width: 300px;
}

.collageImages {
    position: relative;
    width: 55%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.images-coll {
    display: grid;
    gap: 9px;
    grid-template-areas: 
    "a b"
    "c d"
    ;
}

.images-coll:nth-child(1){
    grid-area: a;
}
.images-coll:nth-child(2){
    grid-area: b;
}
.images-coll:nth-child(3){
    grid-area: c;
}
.images-coll:nth-child(4){
    grid-area: d;
}

.images-coll img {
    border-radius: 10px;
    object-fit: cover;
}

.viewMain {
    float: right;
}

.viewMain button {
    padding: 14px;
    width: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.viewMain button i {
    margin-left: 10px;
    color: var(--black);
}


.viewMain button:hover{
    background-color: var(--primaryColor);
    color: var(--white);
}



